[mysqld]
query_cache_size=8000000
query_cache_type=1
binlog_format=ROW
default-storage-engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=0
bind-address=0.0.0.0

wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_sst_method=xtrabackup
wsrep_cluster_address=gcomm://
wsrep_cluster_name=mariadb_cluster
wsrep_sst_auth=xtrabackup:{{XTRABACKUP_PASSWORD}}
wsrep_start_position={{WSREP_START_POSITION}}


datadir=/var/lib/mysql/data